{% extends 'pages/menu.html' %}

{% load static %}

{% block contentmenu %}
<!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li>
                            <a href="{% url 'cursos' %}">Índice</a>
                        </li>
                        <li class="active">
                            Clases
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            Clases
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <!-- Your Content Goes Here -->
                    <div class="row">
                        <a href="{% url 'pizarron_de_cristal' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-pizarron-cristal.gif' %}">
                            </div>
                        </div></a>
                        <a href="{% url 'pizarron' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-pizarron.gif' %}">
                            </div>
                        </div></a>
                        <a href="{% url 'cuaderno' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-cuaderno.gif' %}">
                            </div>
                        </div></a>
                    </div>
                    <div class="row">
                        <a href="{% url 'captura_de_pantalla' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-captura-pantalla.gif' %}">
                            </div>
                        </div></a>
                        <a href="{% url 'presentacion_estatica' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-presentacion-estatica.gif' %}">
                            </div>
                        </div></a>
                        <a href="#"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-presentacion-dinamica.gif' %}">
                            </div>
                        </div></a>
                    </div>
                    <div class="row">
                        <a href="{% url 'multipantalla' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-multipantalla.gif' %}">
                            </div>
                        </div></a>
                        <a href="{% url 'aula' %}"><div class="col-xs-12 col-md-4">
                            <div class="well"> <!-- with-header with-footer -->
                                <img class="imagen-responsive-img" height="150" width="400" src="{% static 'assets/imagenes/videos-aula.gif' %}">
                            </div>
                        </div></a>
                    </div>
                </div>
                <!-- /Page Body -->

                <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141344261-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141344261-1');
</script>
{% endblock %}